 *{
    margin: 0;
    padding: 0;
 }
 body{
font-family: sans-serif;

}
header{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 97%;
    background-color:brown;
    padding: 30px;
    z-index: 10;

   
}
a{

    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}
.text{
    padding:400px;
    background-color: rgb(48, 46, 46);
}


h1{
    text-align: center;
    font-size: 65px;
    color: aliceblue;
}
p{

    text-align: center;
    font-size: 40px;
    color: brown;
}
.projects{
    text-align: center;
    padding: 100px 22px;
    background-color: #45567d;
}
.ecrit{
    color: #f0f0f0;
    font-size: 30px;
    max-width: 450px;
    margin: 0 auto  100px auto;
    border-bottom: 2px solid#f0f0f0;
}
.two{
    display:grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 300px 300px 300px;
    gap: 135px; 
    margin: 0 auto;


}
.project p {
    background:#303841;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
.project-image{
    display: flex;
    height: 350px;
    width: 300px;
    object-fit: cover;

  }
  .project-title {
    font-size: 20px;
    padding: 20px 2px;
  }
  .btn{
  display: inline-block;
  padding: 15px 10px;
  border-radius: 2px;  
  }
  .btn-show-all{
    font-size: 20px;
    background-color: #303841;
   
  }
  .btn-show-all:hover{
    background-color: red;
  }

  .three{
    text-align: center;
    padding: 250px;
    background-color: rgb(48, 46, 46);
}
.bas{
    text-align: center;
}
.bas p{
    color: white;
    font-size: 30px;
}

.bos a{
    color:white ;
    width: 50px;
    font-size: 15px;
}

.bos img{
    display: inline-flex;
    justify-content: space-between;
    width: 37px;
    height: 28px;
    padding: 10px;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  footer{
  
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background:#303841;
  border-top: 4px solid red;
}
footer p {
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  footer a{
    font-size: 20px;
    margin: -19px;
  }
  
  footer i {
    vertical-align: middle;
  }
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
@media (max-width: 30.625em) {
    .projects {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  
  
  
  
  
  



















